<network>
  <autostart>yes</autostart>
  <name>{{ external_network_name }}</name>
  <forward mode='nat'>
  </forward>
  <bridge name='brexternal' stp='on' delay='0'/>
  <domain name='external'/>
  <ip address='{{ kvm_host_ip }}' netmask='{{ kvm_host_netmask }}'>
  <dhcp>
  <range start='{{ ext_net_dhcprangestart }}' end='{{ ext_net_dhcprangestop }}'/>
    <host mac='{{ ext_idm_mac }}' name='{{ idm_name }}.{{ dns_name }}' ip='{{ ext_idm_ip }}'/>
  </dhcp>
  </ip>
</network>
