<network>
  <name>{{ internal_network_name }}</name>
  <bridge name='brdemo' stp='on' delay='0'/>
  <domain name='{{ dns_name }}'/>
  <ip address='172.32.0.1' netmask='255.255.255.0'>
  </ip>
</network>
